[submodule "third-parties/sqrtVINS"]
	path = third-parties/sqrtVINS
	url = https://github.com/rpng/sqrtVINS
[submodule "third-parties/egoallo"]
	path = third-parties/egoallo
	url = https://github.com/brentyi/egoallo
[submodule "third-parties/HaWoR"]
	path = third-parties/HaWoR
	url = https://github.com/ThunderVVV/HaWoR
[submodule "third-parties/Project-Homies-Face-Blurring"]
	path = third-parties/Project-Homies-Face-Blurring
	url = git@github.com:frodobots-org/Project-Homies-Face-Blurring.git
